@import '../../scss/common';

:root {
  --asana-chat-grey-0: #808080;
  --asana-chat-grey-2: #f4f7f9;
  --asana-chat-shadow: #636363;
  --asana-chat-primary: #f06a6a;
  --asana-chat-secondary: #f4f7f9;
  --asana-chat-primaryTextColor: #ffffff;
  --asana-chat-secondaryTextColor: #000000;
  --asana-chat-badgeColor: #f22424;
  --asana-chat-badgeTextColor: #ffffff;
  --asana-chat-width: min(100vw, 450px);
  --asana-chat-fontFamily: 'Lato', sans-serif;
}

.asana-chat-widget-container {
  bottom: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 0 20px 20px 0 !important;
  position: fixed !important;
  right: 0 !important;
  z-index: 2147483647 !important;
  font-family: var(--asana-chat-fontFamily) !important;
}
