.asana-chat-launcher {

  .asana-chat-badge{
    position: fixed !important;
    top: -10px !important;
    right: -5px !important;
    background-color: var(--asana-chat-badgeColor) !important;
    color: var(--asana-chat-badgeTextColor) !important;
    width: 25px !important;
    height: 25px !important;
    text-align: center !important;
    line-height: 25px !important;
    border-radius: 50% !important;
  }
}
