.asana-chat-launcher {

  .asana-chat-badge{
    position: fixed;
    top: -10px;
    right: -5px;
    background-color: var(--asana-chat-badgeColor);
    color: var(--asana-chat-badgeTextColor) !important;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
  }
}
